body{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.input {
  display: flex;
}




.please {
  padding-top: 20px;
}

h3 {
  color:teal;
}
